ASA.Apim.Library/Web References/HonoraryOffices_Service/HonoraryOffices_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/honoraryoffices" targetNamespace="urn:microsoft-dynamics-schemas/page/honoraryoffices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apim-wsdltns="urn:microsoft-dynamics-schemas/page/honoraryoffices" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/honoraryoffices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Order_of_Priority">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Priority_1" />
          <xsd:enumeration value="Priority_2" />
          <xsd:enumeration value="Priority_3" />
          <xsd:enumeration value="Priority_4" />
          <xsd:enumeration value="Priority_5" />
          <xsd:enumeration value="Priority_6" />
          <xsd:enumeration value="Priority_7" />
          <xsd:enumeration value="Priority_8" />
          <xsd:enumeration value="Priority_9" />
          <xsd:enumeration value="Priority_10" />
          <xsd:enumeration value="Priority_11" />
          <xsd:enumeration value="Priority_12" />
          <xsd:enumeration value="Priority_13" />
          <xsd:enumeration value="Priority_14" />
          <xsd:enumeration value="Priority_15" />
          <xsd:enumeration value="Priority_16" />
          <xsd:enumeration value="Priority_17" />
          <xsd:enumeration value="Priority_18" />
          <xsd:enumeration value="Priority_19" />
          <xsd:enumeration value="Priority_20" />
          <xsd:enumeration value="Priority_21" />
          <xsd:enumeration value="Priority_22" />
          <xsd:enumeration value="Priority_23" />
          <xsd:enumeration value="Priority_24" />
          <xsd:enumeration value="Priority_25" />
          <xsd:enumeration value="Priority_26" />
          <xsd:enumeration value="Priority_27" />
          <xsd:enumeration value="Priority_28" />
          <xsd:enumeration value="Priority_29" />
          <xsd:enumeration value="Priority_30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="HonoraryOffices">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Order_of_Priority" type="apim-wsdltns:Order_of_Priority" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="HonoraryOffices_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="HonoraryOffices" type="apim-wsdltns:HonoraryOffices" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="HonoraryOffices_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Order_of_Priority" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="HonoraryOffices_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="apim-wsdltns:HonoraryOffices_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="HonoraryOffices" type="apim-wsdltns:HonoraryOffices" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="HonoraryOffices" type="apim-wsdltns:HonoraryOffices" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="apim-wsdltns:HonoraryOffices_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="apim-wsdltns:HonoraryOffices_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_Result" />
  </wsdl:message>
  <wsdl:message name="ReadByRecId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadByRecId" />
  </wsdl:message>
  <wsdl:message name="ReadByRecId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByRecId_Result" />
  </wsdl:message>
  <wsdl:message name="ReadMultiple_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMultiple" />
  </wsdl:message>
  <wsdl:message name="ReadMultiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMultiple_Result" />
  </wsdl:message>
  <wsdl:message name="IsUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUpdated" />
  </wsdl:message>
  <wsdl:message name="IsUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUpdated_Result" />
  </wsdl:message>
  <wsdl:message name="GetRecIdFromKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecIdFromKey" />
  </wsdl:message>
  <wsdl:message name="GetRecIdFromKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </wsdl:message>
  <wsdl:portType name="HonoraryOffices_Service">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:Read_InputMessage" />
      <wsdl:output message="tns:Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadByRecId">
      <wsdl:input message="tns:ReadByRecId_InputMessage" />
      <wsdl:output message="tns:ReadByRecId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMultiple">
      <wsdl:input message="tns:ReadMultiple_InputMessage" />
      <wsdl:output message="tns:ReadMultiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUpdated">
      <wsdl:input message="tns:IsUpdated_InputMessage" />
      <wsdl:output message="tns:IsUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecIdFromKey">
      <wsdl:input message="tns:GetRecIdFromKey_InputMessage" />
      <wsdl:output message="tns:GetRecIdFromKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HonoraryOffices_Service" type="tns:HonoraryOffices_Service">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/honoraryoffices:Read" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/honoraryoffices:ReadByRecId" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/honoraryoffices:ReadMultiple" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/honoraryoffices:IsUpdated" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/honoraryoffices:GetRecIdFromKey" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HonoraryOffices_Service">
    <wsdl:port name="HonoraryOffices_Service" binding="tns:HonoraryOffices_Service">
      <address location="https://consulthidanapi.azure-api.net/nav/honoraryoffices" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>