ASA.Apim.Library/Web References/PostCodes_Service/PostCodes_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/postcodes" targetNamespace="urn:microsoft-dynamics-schemas/page/postcodes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apim-wsdltns="urn:microsoft-dynamics-schemas/page/postcodes" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/postcodes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:complexType name="PostCodes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country_Region_Code" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PostCodes_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PostCodes" type="apim-wsdltns:PostCodes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PostCodes_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Code" />
          <xsd:enumeration value="City" />
          <xsd:enumeration value="Country_Region_Code" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PostCodes_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="apim-wsdltns:PostCodes_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Code" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="City" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PostCodes" type="apim-wsdltns:PostCodes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PostCodes" type="apim-wsdltns:PostCodes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="apim-wsdltns:PostCodes_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="apim-wsdltns:PostCodes_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_Result" />
  </wsdl:message>
  <wsdl:message name="ReadByRecId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadByRecId" />
  </wsdl:message>
  <wsdl:message name="ReadByRecId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByRecId_Result" />
  </wsdl:message>
  <wsdl:message name="ReadMultiple_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMultiple" />
  </wsdl:message>
  <wsdl:message name="ReadMultiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMultiple_Result" />
  </wsdl:message>
  <wsdl:message name="IsUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUpdated" />
  </wsdl:message>
  <wsdl:message name="IsUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUpdated_Result" />
  </wsdl:message>
  <wsdl:message name="GetRecIdFromKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecIdFromKey" />
  </wsdl:message>
  <wsdl:message name="GetRecIdFromKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </wsdl:message>
  <wsdl:portType name="PostCodes_Service">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:Read_InputMessage" />
      <wsdl:output message="tns:Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadByRecId">
      <wsdl:input message="tns:ReadByRecId_InputMessage" />
      <wsdl:output message="tns:ReadByRecId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMultiple">
      <wsdl:input message="tns:ReadMultiple_InputMessage" />
      <wsdl:output message="tns:ReadMultiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUpdated">
      <wsdl:input message="tns:IsUpdated_InputMessage" />
      <wsdl:output message="tns:IsUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecIdFromKey">
      <wsdl:input message="tns:GetRecIdFromKey_InputMessage" />
      <wsdl:output message="tns:GetRecIdFromKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostCodes_Service" type="tns:PostCodes_Service">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/postcodes:Read" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/postcodes:ReadByRecId" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/postcodes:ReadMultiple" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/postcodes:IsUpdated" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/postcodes:GetRecIdFromKey" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostCodes_Service">
    <wsdl:port name="PostCodes_Service" binding="tns:PostCodes_Service">
      <address location="https://consulthidanapi.azure-api.net/nav/postcodes" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>