ASA.Apim.Library/Web References/CoursePrices_Service/CoursePrices_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/courseprices" targetNamespace="urn:microsoft-dynamics-schemas/page/courseprices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apim-wsdltns="urn:microsoft-dynamics-schemas/page/courseprices" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/courseprices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Indication_of_price">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Discount" />
          <xsd:enumeration value="Fixed_Price" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CoursePrices">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourseType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParticipantType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Discount_Fixed_Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Indication_of_price" type="apim-wsdltns:Indication_of_price" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Payers_Name_Only" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Social_Sec_No_Required" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Birthdate_Required" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CoursePrices_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="CoursePrices" type="apim-wsdltns:CoursePrices" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="CoursePrices_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="CourseType" />
          <xsd:enumeration value="ParticipantType" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Discount_Fixed_Price" />
          <xsd:enumeration value="Indication_of_price" />
          <xsd:enumeration value="Payers_Name_Only" />
          <xsd:enumeration value="Social_Sec_No_Required" />
          <xsd:enumeration value="Birthdate_Required" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="CoursePrices_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="apim-wsdltns:CoursePrices_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="CourseType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ParticipantType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CoursePrices" type="apim-wsdltns:CoursePrices" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CoursePrices" type="apim-wsdltns:CoursePrices" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="apim-wsdltns:CoursePrices_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="apim-wsdltns:CoursePrices_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Read_InputMessage">
    <wsdl:part name="parameters" element="tns:Read" />
  </wsdl:message>
  <wsdl:message name="Read_OutputMessage">
    <wsdl:part name="parameters" element="tns:Read_Result" />
  </wsdl:message>
  <wsdl:message name="ReadByRecId_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadByRecId" />
  </wsdl:message>
  <wsdl:message name="ReadByRecId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadByRecId_Result" />
  </wsdl:message>
  <wsdl:message name="ReadMultiple_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMultiple" />
  </wsdl:message>
  <wsdl:message name="ReadMultiple_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMultiple_Result" />
  </wsdl:message>
  <wsdl:message name="IsUpdated_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUpdated" />
  </wsdl:message>
  <wsdl:message name="IsUpdated_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUpdated_Result" />
  </wsdl:message>
  <wsdl:message name="GetRecIdFromKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecIdFromKey" />
  </wsdl:message>
  <wsdl:message name="GetRecIdFromKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </wsdl:message>
  <wsdl:portType name="CoursePrices_Service">
    <wsdl:operation name="Read">
      <wsdl:input message="tns:Read_InputMessage" />
      <wsdl:output message="tns:Read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadByRecId">
      <wsdl:input message="tns:ReadByRecId_InputMessage" />
      <wsdl:output message="tns:ReadByRecId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMultiple">
      <wsdl:input message="tns:ReadMultiple_InputMessage" />
      <wsdl:output message="tns:ReadMultiple_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUpdated">
      <wsdl:input message="tns:IsUpdated_InputMessage" />
      <wsdl:output message="tns:IsUpdated_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecIdFromKey">
      <wsdl:input message="tns:GetRecIdFromKey_InputMessage" />
      <wsdl:output message="tns:GetRecIdFromKey_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoursePrices_Service" type="tns:CoursePrices_Service">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/courseprices:Read" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/courseprices:ReadByRecId" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/courseprices:ReadMultiple" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/courseprices:IsUpdated" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/courseprices:GetRecIdFromKey" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoursePrices_Service">
    <wsdl:port name="CoursePrices_Service" binding="tns:CoursePrices_Service">
      <address location="https://consulthidanapi.azure-api.net/nav/courseprices" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>